.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-left: 0.063px solid var(--black);
  border-top: 0.063px solid var(--black);

  div {
    border-bottom: 0.063px solid var(--black);
    border-right: 0.063px solid var(--black);
  }
}

.grid-header {
  background-color: var(--light-gray);
  font-weight: bold;
  padding: 0.625rem;
  text-align: center;
}

.grid-item {
  background-color: var(--darken-gray);
  padding: 0.625rem;
  text-align: center;
  white-space: nowrap;
}

.search {
  border: 0.063rem solid var(--dark-gray);
  padding: 0.938rem 1.25rem;
  border-radius: 0.25;
  width: 100%;
  margin-bottom: 0.625rem;
  background: var(--white);

  &:active,
  &:hover,
  &:focus {
    box-shadow: 0.125rem 0.125rem 0.313rem 0rem var(--gray);
    transition: box-shadow 0.4s linear;
  }
}

.modal-button {
  cursor: pointer;
  padding: 0.3rem;
}